/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#map{width: 100%;height: 500px;border: 1px solid #000;}
#home-heading
{
color: white;
border-top: 1px #2270AB solid;
border-right: 1px #18639A solid;
border-bottom: 1px #0F568B solid;
border-left: 1px #18639A solid;
background: #2180CE;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33a0e8", endColorstr="#2180ce");
background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
background: -moz-linear-gradient(top, #33A0E8, #2180CE);
text-shadow: #355782 0 1px 2px;
-webkit-text-shadow: #355782 0 1px 2px;
-moz-text-shadow: #355782 0 1px 2px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3),inset 0px 1px 0px #83c5f1;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 0px #83C5F1;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
display: inline;
margin-left:550px;
}

.info { width: 250px;
}
#main-image{align: center; margin-top: 70px; margin-left: 340px;}